In [1]:
import mysql.connector
import pandas as pd
from dotenv import load_dotenv
import os

# Load environment variables from .env file
load_dotenv()

# Read credentials from the .env file
MYSQL_HOST = os.getenv("MYSQL_HOST")
MYSQL_USER = os.getenv("MYSQL_USER")
MYSQL_PASSWORD = os.getenv("MYSQL_PASSWORD")
MYSQL_DATABASE = os.getenv("MYSQL_DATABASE")
MYSQL_PORT = int(os.getenv("MYSQL_PORT"))  # Convert port to integer

# Connect to MySQL
cnx = mysql.connector.connect(
    host=MYSQL_HOST,
    user=MYSQL_USER,
    password=MYSQL_PASSWORD,
    database=MYSQL_DATABASE,
    port=MYSQL_PORT
)

# Create a cursor object
cursor = cnx.cursor()

# Dictionary to store data from each table
orders_data = None
customers_data = None
locations_data = None
orderdetails_data = None
regionalmanagers_data = None
returns_data = None

# Fetch and store data in different variables
tables = {
    "Orders": "orders_data",
    "customers": "customers_data",
    "locations": "locations_data",
    "orderdetails": "orderdetails_data",
    "regionalmanagers": "regionalmanagers_data",
    "returns": "returns_data"
}

for table, var_name in tables.items():
    query = f"SELECT * FROM {table} LIMIT 5"  # Fetch first 5 rows
    cursor.execute(query)
    
    # Fetch data and column names
    rows = cursor.fetchall()
    columns = [col[0] for col in cursor.description]  # Get column names
    
    # Convert to DataFrame
    df = pd.DataFrame(rows, columns=columns)
    
    # Store DataFrame in variable dynamically
    globals()[var_name] = df

# Close cursor and connection
cursor.close()
cnx.close()

# Print stored data
print("\n--- Orders Table (Top 5 Rows) ---\n", orders_data)
print("\n--- Customers Table (Top 5 Rows) ---\n", customers_data)
print("\n--- Locations Table (Top 5 Rows) ---\n", locations_data)
print("\n--- Order Details Table (Top 5 Rows) ---\n", orderdetails_data)
print("\n--- Regional Managers Table (Top 5 Rows) ---\n", regionalmanagers_data)
print("\n--- Returns Table (Top 5 Rows) ---\n", returns_data)

--- Orders Table (Top 5 Rows) ---
          Order ID           Order Date            Ship Date       Ship Mode  \
0  CA-2020-152156  2020-11-08 00:00:00  2020-11-11 00:00:00    Second Class
1  CA-2020-138688  2020-06-12 00:00:00  2020-06-16 00:00:00    Second Class
2  US-2019-108966  2019-10-11 00:00:00  2019-10-18 00:00:00  Standard Class
3  CA-2018-115812  2018-06-09 00:00:00  2018-06-14 00:00:00  Standard Class
4  CA-2021-114412  2021-04-15 00:00:00  2021-04-20 00:00:00  Standard Class

   Days to Ship Customer ID  Postal Code
0             3    CG-12520        42420
1             4    DV-13045        90036
2             7    SO-20335        33311
3             5    BH-11710        90032
4             5    AA-10480        28027

--- Customers Table (Top 5 Rows) ---
   Customer ID    Customer Name    Segment High Value Customer  \
0    CG-12520      Claire Gute   Consumer                  No
1    DV-13045  Darrin Van Huff  Corporate                  No
2    SO-20335   Sean O'Donnell   Consumer                  No
3    BH-11710  Brosina Hoffman   Consumer                 Yes
4    AA-10480     Andrew Allen   Consumer                  No

   Total Customer Spend
0             1148.7800
1             1119.4830
2             2602.5755
3             6255.3510
4             1790.5120

--- Locations Table (Top 5 Rows) ---
    Postal Code             City           State Country/Region Region
0        42420        Henderson        Kentucky  United States  South
1        90036      Los Angeles      California  United States   West
2        33311  Fort Lauderdale         Florida  United States  South
3        90032      Los Angeles      California  United States   West
4        28027          Concord  North Carolina  United States  South

--- Order Details Table (Top 5 Rows) ---
    Row ID        Order ID       Product ID  Revenue Per Order
0       1  CA-2020-152156  FUR-BO-10001798           993.9000
1       2  CA-2020-152156  FUR-CH-10000454           993.9000
2       3  CA-2020-138688  OFF-LA-10000240            14.6200
3       4  US-2019-108966  FUR-TA-10000577           979.9455
4       5  US-2019-108966  OFF-ST-10000760           979.9455

--- Regional Managers Table (Top 5 Rows) ---
     Regional Manager   Region
0    Sadie Pawthorne     West
1        Chuck Magee     East
2  Roxanne Rodriguez  Central
3        Fred Suzuki    South

--- Returns Table (Top 5 Rows) ---
   Returned        Order ID
0      Yes  CA-2018-100762
1      Yes  CA-2018-100762
2      Yes  CA-2018-100762
3      Yes  CA-2018-100762
4      Yes  CA-2018-100867