In [ ]:
import mysql.connector
import pandas as pd

# Database connection details
cnx = mysql.connector.connect(
    host="r",
    user="root",            
    password="s",  
    database="s",       
    port= 5             
)

# Create a cursor object
cursor = cnx.cursor()

# Dictionary to store data from each table
orders_data = None
customers_data = None
locations_data = None
orderdetails_data = None
regionalmanagers_data = None
returns_data = None

# Fetch and store data in different variables
tables = {
    "Orders": "orders_data",
    "customers": "customers_data",
    "locations": "locations_data",
    "orderdetails": "orderdetails_data",
    "regionalmanagers": "regionalmanagers_data",
    "returns": "returns_data"
}

for table, var_name in tables.items():
    query = f"SELECT * FROM {table} LIMIT 5"  # Fetch first 5 rows
    cursor.execute(query)
    
    # Fetch data and column names
    rows = cursor.fetchall()
    columns = [col[0] for col in cursor.description]  # Get column names
    
    # Convert to DataFrame
    df = pd.DataFrame(rows, columns=columns)
    
    # Store DataFrame in variable dynamically
    globals()[var_name] = df

# Close cursor and connection
cursor.close()
cnx.close()

# Print stored data
print("\n--- Orders Table (Top 5 Rows) ---\n", orders_data)
print("\n--- Customers Table (Top 5 Rows) ---\n", customers_data)
print("\n--- Locations Table (Top 5 Rows) ---\n", locations_data)
print("\n--- Order Details Table (Top 5 Rows) ---\n", orderdetails_data)
print("\n--- Regional Managers Table (Top 5 Rows) ---\n", regionalmanagers_data)
print("\n--- Returns Table (Top 5 Rows) ---\n", returns_data)

--- Orders Table (Top 5 Rows) ---
             Order ID           Order Date            Ship Date  \
0     CA-2020-152156  2020-11-08 00:00:00  2020-11-11 00:00:00
1     CA-2020-138688  2020-06-12 00:00:00  2020-06-16 00:00:00
2     US-2019-108966  2019-10-11 00:00:00  2019-10-18 00:00:00
3     CA-2018-115812  2018-06-09 00:00:00  2018-06-14 00:00:00
4     CA-2021-114412  2021-04-15 00:00:00  2021-04-20 00:00:00
...              ...                  ...                  ...
4998  CA-2020-125794  2020-09-29 00:00:00  2020-10-03 00:00:00
4999  CA-2021-163629  2021-11-17 00:00:00  2021-11-21 00:00:00
5000  CA-2018-110422  2018-01-21 00:00:00  2018-01-23 00:00:00
5001  CA-2021-121258  2021-02-26 00:00:00  2021-03-03 00:00:00
5002  CA-2021-119914  2021-05-04 00:00:00  2021-05-09 00:00:00

           Ship Mode  Days to Ship Customer ID  Postal Code
0       Second Class             3    CG-12520        42420
1       Second Class             4    DV-13045        90036
2     Standard Class             7    SO-20335        33311
3     Standard Class             5    BH-11710        90032
4     Standard Class             5    AA-10480        28027
...              ...           ...         ...          ...
4998  Standard Class             4    ML-17410        90008
4999  Standard Class             4    RA-19885        30605
5000    Second Class             2    TB-21400        33180
5001  Standard Class             5    DB-13060        92627
5002    Second Class             5    CC-12220        92683

[5003 rows x 7 columns]

--- Customers Table (Top 5 Rows) ---
     Customer ID      Customer Name      Segment High Value Customer  \
0      CG-12520        Claire Gute     Consumer                  No
1      DV-13045    Darrin Van Huff    Corporate                  No
2      SO-20335     Sean O'Donnell     Consumer                  No
3      BH-11710    Brosina Hoffman     Consumer                 Yes
4      AA-10480       Andrew Allen     Consumer                  No
..          ...                ...          ...                 ...
788    CJ-11875       Carl Jackson    Corporate                  No
789    RS-19870         Roy Skaria  Home Office                  No
790    SC-20845         Sung Chung     Consumer                  No
791    RE-19405    Ricardo Emerson     Consumer                  No
792    SM-20905  Susan MacKendrick     Consumer                  No

     Total Customer Spend
0               1148.7800
1               1119.4830
2               2602.5755
3               6255.3510
4               1790.5120
..                    ...
788               16.5200
789               22.3280
790              280.6320
791               48.3600
792             1043.0410

[793 rows x 5 columns]

--- Locations Table (Top 5 Rows) ---
      Postal Code             City           State Country/Region   Region
0          42420        Henderson        Kentucky  United States    South
1          90036      Los Angeles      California  United States     West
2          33311  Fort Lauderdale         Florida  United States    South
3          90032      Los Angeles      California  United States     West
4          28027          Concord  North Carolina  United States    South
..           ...              ...             ...            ...      ...
626        72762       Springdale        Arkansas  United States    South
627        95240             Lodi      California  United States     West
628        77571         La Porte           Texas  United States  Central
629        45040            Mason            Ohio  United States     East
630        30188        Woodstock         Georgia  United States    South

[631 rows x 5 columns]

--- Order Details Table (Top 5 Rows) ---
       Row ID        Order ID       Product ID  Revenue Per Order
0          1  CA-2020-152156  FUR-BO-10001798           993.9000
1          2  CA-2020-152156  FUR-CH-10000454           993.9000
2          3  CA-2020-138688  OFF-LA-10000240            14.6200
3          4  US-2019-108966  FUR-TA-10000577           979.9455
4          5  US-2019-108966  OFF-ST-10000760           979.9455
...      ...             ...              ...                ...
9989    9990  CA-2018-110422  FUR-FU-10001889            25.2480
9990    9991  CA-2021-121258  FUR-FU-10000747           380.1360
9991    9992  CA-2021-121258  TEC-PH-10003645           380.1360
9992    9993  CA-2021-121258  OFF-PA-10004041           380.1360
9993    9994  CA-2021-119914  OFF-AP-10002684           243.1600

[9994 rows x 4 columns]

--- Regional Managers Table (Top 5 Rows) ---
     Regional Manager   Region
0    Sadie Pawthorne     West
1        Chuck Magee     East
2  Roxanne Rodriguez  Central
3        Fred Suzuki    South

--- Returns Table (Top 5 Rows) ---
     Returned        Order ID
0        Yes  CA-2018-100762
1        Yes  CA-2018-100762
2        Yes  CA-2018-100762
3        Yes  CA-2018-100762
4        Yes  CA-2018-100867
..       ...             ...
795      Yes  US-2021-147886
796      Yes  US-2021-147998
797      Yes  US-2021-151127
798      Yes  US-2021-155999
799      Yes  US-2021-155999

[800 rows x 2 columns]